@model WebApp.Models.ConteudoViewModel
<h1>Cadastro de Conteúdo</h1>
<form asp-action="Novo">
    <div class="card">
        <div class="card-header">Conteúdo</div>
        <div class="card-body">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label asp-for="Titulo"></label>
                    <input type="text" asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label asp-for="Texto"></label>
                    <input type="text" asp-for="Texto" class="form-control" />
                    <span asp-validation-for="Texto" class="text-danger"></span>
                </div>
                <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label asp-for="LinkImagem"></label>
                    <input type="text" asp-for="LinkImagem" class="form-control" />
                    <span asp-validation-for="LinkImagem" class="text-danger"></span>
                </div>
            </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-2">
                    <input type="submit" value="Gravar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</form>

<hr />

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-dark" asp-controller="conteudo" asp-action="Index">Voltar</a>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}